body {
  background: linear-gradient(135deg, #a4cde8, #e3c597);
}


/* color de fondo de la barra de navegación */
.navbar {
  background-color: #65707d; /* Cambia el color de fondo a azul */
}

/* color del texto de los enlaces de navegación */
.navbar-nav .nav-link {
  color: rgb(16, 1, 1); /* Cambia el color del texto a blanco */
}



/* Cambia el color del borde inferior al pasar el mouse sobre los enlaces */
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid rgb(46, 42, 53); /* Cambia el borde a blanco al pasar el mouse */
}



h2 {
  font-family: 'cabin', sans-serif; 
  font-weight: 600; 
  color: #4e4c4c; 
  font-size: 28px; /* Tamaño de fuente*/
  margin-bottom: 15px; /* Añade pequeño margen inferior para separarlos del contenido */
  text-decoration: none; /* Quita decoración de subrayado */
  transition: color 0.3s, border-bottom 0.3s; /* Transiciones suaves para el color */
}



h2:hover {
  color: #495054; /* Cambia el color cuando pasas el mouse */
  border-bottom: 2px solid #474c4f; /* Añade un subrayado cuando se pasa el mouse */
}

  /* Estilo para el párrafo */
#parrafo-quienes-somos {
  transition: background-color 0.5s, color 0.5s; /* Agrega una transición suave */
}

/* Estilo para el párrafo resaltado */
#parrafo-quienes-somos.highlighted {
  background-color: #a2a8ac; /* Cambia el fondo a un color de tu elección */
  color: #fff; /* Cambia el color del texto a uno legible sobre el fondo */
}



/* propiedades en venta */
#propiedades-venta {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  /*  descripciones de propiedades */
  .descripcion-propiedad {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el carrusel */
  #carrusel-venta {
    margin-top: 20px;
  }
  
  /* Estilos para las flechas de navegación del carrusel */
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 30px;
    color: #fff;
  }
  

  
  /* Estilos para las ventanas emergentes */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para cerrar las ventanas emergentes */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Estilos para las tarjetas de propiedades */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
  }
  
  /* Agrega más estilos según tus preferencias */
  